.loadermain {
    background-color: black; /* Add black background color */
    background-image: url("./img/iraaday.jpeg");
    z-index: 1;
  }

.loader12 {
    width: 180px;
    height: 150px;
    position: fixed;
    left: 45%;
    top: 35%;
  }
   
   .card2 {
    width: 580px;
    height: 354px;
    background-color: #1a1a1a;
    transition: all .2s;
    border-radius: 15px;
   }
  
   .loader-text12 {
    position: fixed;
    top: 43%;
    left: 47%;
    margin: 0;
    color: #d9d7de;
    animation: text_713 3.5s ease both infinite;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
  .load12 {
    background-color: #e1ddec;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
  }
  
  .load12::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f1f0f4;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 16px;
      transform: translateX(64px);
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 16px;
      transform: translateX(64px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 16px;
    }
  
    80% {
      width: 80%;
      transform: translateX(15px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
   
   
  
  